In [2]:
import pandas as pd
import os 
import re
DATA_FOLDER = "../data/fake_news/"

In [ ]:
fake_df=pd.read_csv(DATA_FOLDER + "fake.csv")
true_df=pd.read_csv(DATA_FOLDER + "true.csv")

fake_df['label']='FAKE'
true_df['label']='REAL'
fake_df.head(2)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",FAKE
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",FAKE

In [15]:
true_df.head(2)

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",REAL
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",REAL

In [24]:
full_df = pd.concat([fake_df, true_df]).sample(frac=1, random_state=42).reset_index(drop=True)
full_df.head(10)

,title,text,subject,date,label
0,Ben Stein Calls Out 9th Circuit Court: Committ...,"21st Century Wire says Ben Stein, reputable pr...",US_News,"February 13, 2017",FAKE
1,Trump drops Steve Bannon from National Securit...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"April 5, 2017",REAL
2,Puerto Rico expects U.S. to lift Jones Act shi...,(Reuters) - Puerto Rico Governor Ricardo Rosse...,politicsNews,"September 27, 2017",REAL
3,OOPS: Trump Just Accidentally Confirmed He Le...,"On Monday, Donald Trump once again embarrassed...",News,"May 22, 2017",FAKE
4,Donald Trump heads for Scotland to reopen a go...,"GLASGOW, Scotland (Reuters) - Most U.S. presid...",politicsNews,"June 24, 2016",REAL
5,Paul Ryan Responds To Dem’s Sit-In On Gun Con...,"On Wednesday, Democrats took a powerful stance...",News,"June 22, 2016",FAKE
6,AWESOME! DIAMOND AND SILK Rip Into The Press: ...,President Trump s rally in FL on Saturday was ...,Government News,"Feb 19, 2017",FAKE
7,STAND UP AND CHEER! UKIP Party Leader SLAMS Ge...,He s been Europe s version of the outspoken Te...,left-news,"Mar 8, 2016",FAKE
8,North Korea shows no sign it is serious about ...,WASHINGTON (Reuters) - The State Department sa...,worldnews,"December 13, 2017",REAL
9,Trump signals willingness to raise U.S. minimu...,(This version of the story corrects the figur...,politicsNews,"May 4, 2016",REAL

In [19]:
# cleaning text
def clean(text):
    text=str(text).lower()
    text=re.sub("http\S+|@\S+|[^a-zA-Z0-9\s]", "", text)
    return text.strip()

full_df['text'] = full_df['text'].apply(clean)
full_df.drop_duplicates(subset="text", inplace=True)
full_df.dropna(subset=["text", "label"], inplace=True)

# Step 5: Save cleaned dataset
clean_file_path = os.path.join(DATA_FOLDER, "clean_fake_news.csv")
full_df.to_csv(clean_file_path, index=False)


print("✅ Cleaned data saved at:", clean_file_path)

<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_7172\3926445538.py:4: SyntaxWarning: invalid escape sequence '\S'
  text=re.sub("http\S+|@\S+|[^a-zA-Z0-9\s]", "", text)

✅ Cleaned data saved at: ../data/fake_news/clean_fake_news.csv

In [5]:
df = pd.read_csv(DATA_FOLDER + "clean_fake_news.csv")
print(df['label'].unique())

['FAKE' 'REAL']